body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3 {
  position: absolute; /* Đặt vị trí tuyệt đối */
  top: 50px; /* Đặt khoảng cách từ trên xuống 50px (điều chỉnh theo nhu cầu của bạn) */
  left: 50%; /* Đặt trái ở giữa */
  transform: translateX(-50%); /* Dịch chuyển ngang về bên trái 50% của chính nó để canh giữa */
  background-color: rgba(255, 255, 255, 0.5); /* Màu nền với độ trong suốt */
  padding: 10px; /* Khoảng cách từ nội dung đến biên */
  border-radius: 5px; /* Bo tròn góc */
  z-index: 999; /* Đặt chỉ số z để đè lên các phần tử khác */
}